<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html dir="ltr" lang="en-US">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
      <meta http-equiv="x-ua-compatible" content="IE=Edge" />
      <title>滴雨科技_收集与分析</title>
       <meta name="keywords" content="DIYU,diyu, YUDI,yudi,雨滴,雨滴科技,滴雨,滴雨科技,滴雨软件,滴雨公司,边缘计算,web 3.0,Dew,dew,Dew Technology,云计算，超融合,物联网,人工智能,云存储,云服务,区块链,分布式记账,docker云,容器云,K8S,微服务,cloud technology,internet of things, Cloud Storage, storage, software, cloud fusion, artificial intelligent, AI, cloud computing,blcokchain, hyperfledge,Micro Service,Kubernetes 8" />
      <meta name="description" content="提供一体化的第三代区块链，微服务平台K8S，云计算，云存储，大数据，灾备技术，物联网给中小企业，避免一个企业无法维护多套不同体系统的系统，或是去租用多套云端服务，以达到节省成本的目的。滴雨公司提供的所有软件是一键安装，图形化管理，不管规模大小，全部免费。" />
		
			<!-- Loading Bootstrap -->
			<link href="css/bootstrap.css" rel="stylesheet">

			<!-- Loading Elements Styles -->
			<link href="css/style.css" rel="stylesheet">

			<!-- Loading Magnific-Popup Styles -->
			<link href="css/magnific-popup.css" rel="stylesheet">

			<!-- Loading Font Styles -->
			<link href="css/iconfont-style.css" rel="stylesheet">
			
      <!--[if lt IE 9]>
      <link rel="stylesheet" href="css/IE.css" />
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!--[if lte IE 8]>
      <script type="text/javascript" src="js/IE.js"></script>
      <![endif]-->
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
   <body>

   <section id="content-3col"  class="bg-color3" style="padding-top:40px;padding-bottom:20px;">
	   <div class="container" >
		   <h2 class="title" style="margin-bottom: 40px">日志汇总分析系统</h2>
		   <div class="container quote" style="margin-bottom: 20px;text-align:center; ">
			   <img src="images/log/elk.png" alt="elk" >
		   </div>
		   <div class="row">
			   <div class="col-md-3">
			   </div>
			   <div class="col-md-2" style="text-align:left">
				  <h3 class="name"><a th:href="${elk.logstashUrl}" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logstash</a></h3>
			   </div>
			   <div class="col-md-2">
				   <h3 class="name"><a th:href="${elk.kibanaUrl}" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kibana</a></h3>
			   </div>
			   <div class="col-md-2">
				   <h3 class="name"><a th:href="${elk.elasticUrl}" >Elasticsearch</a></h3>
			   </div>
			   <div class="col-md-3">
			   </div>
		   </div>
	   </div>
   </section>

   <section id="content-3col2"  style="padding-top:40px;padding-bottom:20px;">
	   <div class="container">
		   <h2 class="title" style="margin-bottom: 40px">模块级的log</h2>
		   <div class="row">
			   <div class="col-md-3"> <img src="images/log/CephSan.jpg" alt="" class="screen"/>
				   <a href="log/ceph.html"><h4>CEPH集群存储统一平台</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/openstack.jpg" alt="" class="screen"/>
				   <a href="log/openstack.html"><h4>云计算OPENSTACK技术</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/docker.jpg" alt="" class="screen"/>
				   <a href="log/k8docker.html"><h4>云计算DOCKER技术</h4></a>
			   </div>
		   </div>
		   <div class="row">
			   <div class="col-md-3"> <img src="images/log/spark.jpg" alt="" class="screen"/>
				   <a href="log/spark.html"><h4>大数据计算框架</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/yarn.jpg" alt="" class="screen"/>
				   <a href="log/hadoop.html"><h4>大数据调度框架</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/zookeeper.jpg" alt="" class="screen"/>
				   <a href="log/zookeeper.html"><h4>大数据分布式协同框架</h4></a>
			   </div>
		   </div>
		   <div class="row">
			   <div class="col-md-3"> <img src="images/log/ambari.jpg" alt="" class="screen"/>
				   <a href="log/ambari.html"><h4>大数据监控与管理框架</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/hbase.jpg" alt="" class="screen"/>
				   <a href="log/hbase.html"><h4>列式数据库</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/hive.jpg" alt="" class="screen"/>
				   <a href="log/hive.html"><h4>大数据数据仓库</h4></a>
			   </div>
		   </div>
		   <div class="row">
			   <div class="col-md-3"> <img src="images/log/azkaban.jpg" alt="" class="screen"/>
				   <a href="log/azkaban.html"><h4>大数据任务调度</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/kafak.jpg" alt="" class="screen"/>
				   <a href="log/kafak.html"><h4>kafak</h4></a>
			   </div>
			   <div class="col-md-3 col-md-offset-1"> <img src="images/log/mahout.jpg" alt="" class="screen"/>
				   <a href="log/mahout.html"><h4>大数据展示</h4></a>
			   </div>
		   </div>
	   </div>
   </section>

   <section id="video-half-right" class="bg-color3" >
		    <div class="container">
		      <div class="row">
		        <div class="col-md-5 editContent">
		          <h2><strong>日志监控</strong></h2>
		          <h4 class="sub-title">Grafana</h4>
		          <p>大规模指标数据的可视化展现，是网络架构和应用分析中最流行的时序数据展示工具</p>
		        </div>
		        <div class="col-md-6 col-md-offset-1">
		          <div class="embed-responsive embed-responsive-16by9">
		           <a href="log/grafana.html" > <img src="images/log/grafana.gif" class="screen" alt="Grafana" ></a>
		          </div>
		        </div>
		      </div>
		    </div>
  	</section>
   </body>
</html>
