<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>滴雨科技边缘计算 超融合网管系统</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS here -->
<link href="images/dew_html.png" rel="SHORTCUT ICON" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/fontawesome.min.css">
<link rel="stylesheet" href="css/meanmenu.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/default.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">
<style type="text/css">
	.imglist{
	height: 80px;
	width: 80px;
	}
	.fitfontsize
	{
		font-size:18px!important;
	}
	.imgshrink{
		height: 100%;
		width: 100%;
	}

	p.inset {border-style:inset;}

	/*分辨率低于1440，采用下面的样式*/
	@media screen and (max-device-width: 1440px){
		.mt-190 {
			margin-top: 75px;
		}
	}


	 .box{
		 font-size: 20px;
		 color:#1787a5;
		 margin: 10px;
		 animation: changeshadow 1.5s  ease-in  infinite ;
		 /* 其它浏览器兼容性前缀 */
		 -webkit-animation: changeshadow 1.5s linear infinite;
		 -moz-animation: changeshadow 1.5s linear infinite;
		 -ms-animation: changeshadow 1.5s linear infinite;
		 -o-animation: changeshadow 1.5s linear infinite;
	 }
	@keyframes changeshadow {
		0%{ text-shadow: 0 0 4px #1787a5}
		50%{ text-shadow: 0 0 40px #1787a5}
		100%{ text-shadow: 0 0 4px #1787a5}
	}
	/* 添加兼容性前缀 */
	@-webkit-keyframes changeshadow {
		0%{ text-shadow: 0 0 4px #1787a5}
		50%{ text-shadow: 0 0 40px #1787a5}
		100%{ text-shadow: 0 0 4px #1787a5}
	}
	@-moz-keyframes changeshadow {
		0%{ text-shadow: 0 0 4px #1787a5}
		50%{ text-shadow: 0 0 40px #1787a5}
		100%{ text-shadow: 0 0 4px #1787a5}
	}
	@-ms-keyframes changeshadow {
		0%{ text-shadow: 0 0 4px #1787a5}
		50%{ text-shadow: 0 0 40px #1787a5}
		100%{ text-shadow: 0 0 4px #1787a5}
	}
	@-o-keyframes changeshadow {
		0%{ text-shadow: 0 0 4px #1787a5}
		50%{ text-shadow: 0 0 40px #1787a5}
		100%{ text-shadow: 0 0 4px #1787a5}
	}

</style>

</head>
<body style="background-color:#69c2ff">
<main>
	<!-- services-area start -->
	<div class="container mt-190">
		<div class="row align-items-center pb-20">
				<div class="col-xl-2 col-lg-2">
					<div class="services-box text-center" >
						<div class="services-icon">

						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2">
					<div class="services-box text-center" >
						 <img src="images/yulu-logo.png" alt="" class="imgshrink">
					</div>
				</div>
				<div class="col-xl-5 col-lg-5">
					<div class="section-title">
						<img src="images/MenuTitle.png" alt="" class="imgshrink">
					</div>
				</div>
				<div class="col-xl-3 col-lg-3">
					<div class="text-center" >
						<a href="./demoUrl" title="滴雨科技综合应用DEMO" style="color: #24130c" target="_self">
							<span class="box">
								滴雨科技综合应用DEMO
							</span>
						</a>
					</div>
				</div>

		</div>


		<div class="row pt-20 pb-20" style="BORDER-RIGHT:1px outset;  BACKGROUND: #5abbfd;  BORDER-BOTTOM: 1px outset;">
				<div class="col-xl-3 col-lg-3">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=CloudComputing" title="云计算"  th:target="${atarget}" > <img  class="imglist" src="images/icon/s01.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=CloudComputing" title="云计算" th:target="${atarget}"><h3 class="fitfontsize">云计算</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=CloudStorage" title="云存储" th:target="${atarget}"><img class="imglist" src="images/icon/s02.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=CloudStorage" title="云存储" th:target="${atarget}"><h3 class="fitfontsize">云存储</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=MicroSvc" title="微服务" th:target="${atarget}"><img class="imglist" src="images/icon/s08.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=MicroSvc" title="微服务" th:target="${atarget}"><h3 class="fitfontsize">微服务</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=BigDate" title="大数据" th:target="${atarget}"><img class="imglist" src="images/icon/s03.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=BigDate" title="大数据" th:target="${atarget}"><h3 class="fitfontsize">大数据</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a  href="./Modulelist?moduleid=Hyperledger" title="区块链管理" th:target="${atarget}"><img class="imglist" src="images/icon/s05.png" alt=""></a>
						</div>
						<div class="services-content">
							<a  href="./Modulelist?moduleid=Hyperledger" title="区块链管理" th:target="${atarget}"><h3 class="fitfontsize">区块链</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=IOT" title="物联网" th:target="${atarget}"><img class="imglist" src="images/icon/s04.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=IOT" title="物联网" th:target="${atarget}"><h3 class="fitfontsize">物联网</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=AI" title="人工智能" ><img class="imglist" src="images/icon/s10.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=AI" title="人工智能" ><h3 class="fitfontsize">人工智能</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=web3" title="web3.0应用"><img class="imglist" src="images/icon/s15.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=web3" title="web3.0应用"><h3 class="fitfontsize">web3.0应用</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=Backup" title="容灾备份管理" ><img class="imglist" src="images/icon/s06.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=Backup" title="容灾备份管理" ><h3 class="fitfontsize">容灾备份</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=Setup" title="安装与设置" ><img class="imglist" src="images/icon/s07.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=Setup" title="安装与设置" ><h3 class="fitfontsize">安装与设置</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=Log" title="日志" > <img class="imglist" src="images/icon/s09.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=Log" title="日志" > <h3 class="fitfontsize">日志监控</h3></a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="services-box text-center mb-10">
						<div class="services-icon">
							<a href="./Modulelist?moduleid=ClientDownload" title="下载客户端" ><img class="imglist" src="images/icon/s12.png" alt=""></a>
						</div>
						<div class="services-content">
							<a href="./Modulelist?moduleid=ClientDownload" title="下载客户端" ><h3 class="fitfontsize">下载客户端</h3></a>
						</div>
					</div>
				</div>
		</div>
		<div class="row align-items-center">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="services-box text-center mb-10">

					</div>
				</div>
		</div>
	</div>
</main>

<footer>
	<div class="container pt-20 mt-40">
		 <div class="row align-items-center">
					<div class="col-xl-2 col-lg-2">
					</div>
					<div class="col-xl-8 col-lg-8">
						<div class="copy-wthree">
								<p><a href="http://www.microraindrop.com/">版权所有 @2019 滴雨软件科技（上海）有限公司</a></p>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2">
						<div class="copy-wthree">
							<p><a href="./Modulelist?moduleid=Help">Help</a> </p>
						</div>
					</div>
		 </div>
	</div>
</footer>

</body>
</html>

